
@model PowerSpring.ViewModels.NewsViewModel



<h2>@Model.Title</h2>

@foreach (var news in @Model.NewsList)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        @*<div class="thumbnail">*@
           
            <div class="caption">
                <h3 class="pull-right">@news.Date</h3>
                <h3>
                    <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id">@news.NewsTitle</a>
                </h3>
                <p>@news.ShortDescription</p>
            </div>
        @*</div>*@
        @*//*@
    </div>
}


