 
@model PowerSpring.ViewModels.NewsViewModel



<h2>@Model.Title</h2>

@*@foreach (var news in @Model.NewsList)
    {
        if (!news.IsDeleted)
        {
            <tr>
                <td><a asp-controller="News" asp-action="Details" asp-route-id="@news.Id"> @news.NewsTitle </a> </td>
                <td> @news.Content</td>
                <td> @news.Date</td>
            </tr>

        }
        @if (User.IsInRole("Admin"))
        {
            <td>
                <a asp-controller="News" asp-action="DeleteNews" asp-route-id="@news.Id">Delete</a>
            </td>
        }
    }*@
<div style="margin: auto">
    @foreach (var news in Model.NewsList)
    {
        if (!news.IsDeleted)
        {
        
            <div class="card" style="float: left;margin-left:15px">
                <img class="card-img-top" src="@news.ImageThumbnailUrl" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title"><a asp-controller="News" asp-action="Details" asp-route-id="@news.Id"> @news.NewsTitle </a></h2>
                    <h6 class="card-subtitle mb-2 text-muted">@news.Date</h6>
                    <p class="card-text">@news.ShortDescription</p>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="News" asp-action="BlockNewsById" asp-route-id="@news.Id" class="btn btn-primary">Delete</a>
                    }
                </div>
            </div>

            @*<div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@news.ImageThumbnailUrl" alt="">
                        <div class="caption">
                            <h3 class="pull-right">@news.Date</h3>
                            <h3><a asp-controller="News" asp-action="Details" asp-route-id="@news.Id"> @news.NewsTitle </a></h3>
                            <h5>@news.ShortDescription</h5>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="News" asp-action="BlockNewsById" asp-route-id="@news.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>*@


        }
    }
</div>
   

 

