@model ForumViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="col-sm-12 col-lg-12 col-md-12">

    <div>
        <h3>This is Title of a Post: @Model.post.Title</h3>

        <div>
            <h4>Post UserId: @Model.post.UserId</h4>

        </div>
        <div>
            <p>This is Post Content:  @Model.post.Content</p>
        </div>

    </div>
</div>
<div>
    @if (!Model.post.IsBlocked)
    {
        <div class="col-md-5 pull-right">
            <a asp-controller="Forum" asp-action="NewReply" asp-route-id="@Model.post.Id"><input type="button" class="btn btn-primary" value="Reply"></a>
        </div>
    }
</div>
<div>
    @foreach (var reply in Model.Replies)
    {
        @if (!reply.IsDeleted)
        {
            <div class="col-md-offset-1">
                <p>This is Reply Content: @reply.Content </p>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Forum" asp-action="DeleteReply" asp-route-id="@reply.Id"> Delete</a>
            }
        }

    }

</div>