
@model ForumViewModel

@{
    ViewData["Title"] = "PowerSpring BBS";
}
<asp:Label ID="CurrentTime" runat="server" />

<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="Forum" asp-action="NewPost"><input type="button" class="btn btn-primary" value="Start New Post"></a>

    </div>
</div>

@foreach (var post in Model.Posts)
{
    <div class="col-sm-12 col-lg-12 col-md-12">

        <div>
            <h3 class="push-right">@post.Title</h3>
            <h3>@User.Identity.Name </h3>
            <p>

                @post.Content
            </p>
            @foreach (var reply in Model.Replies)
            {
                @if (reply.ParentId == post.Id)
                {
                    <div class="col-md-offset-1">
                        <p>
                            @reply.Content
                        </p>
                        @if (User.IsInRole("Admin"))
                        {

                            <a asp-controller="Forum" asp-action="Delete" asp-route-id="@post.Id"><input type="button" class="btn btn-primary" value="Delete"></a>
                        }
                    </div>
                }
            }


            <div class="col-md-offset-5 col-md-5">
                <a asp-controller="Forum" asp-action="NewReply" asp-route-id="@post.Id"><input type="button" class="btn btn-primary" value="Reply"></a>
            </div>

        </div>
    </div>

}
