
@model ForumViewModel

@{
    ViewData["Title"] = "PowerSpring BBS";
}
<asp:Label ID="CurrentTime" runat="server" />
<div>
    <h3>Current User: @User.Identity.Name</h3>

</div>
<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="Forum" asp-action="NewPost"><input type="button" class="btn btn-primary" value="Start New Post"></a>

    </div>
</div>

@foreach (var post in Model.Posts)
{
    @if (!post.IsDeleted)
    {
        <div class="col-sm-12 col-lg-12 col-md-12">

            <div>
                @*<text>This is Title of a Post: </text>
                    <text class="push-right">@post.Title</text>*@
                <h3>This is Title of a Post: @post.Title</h3>
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <a asp-controller="Forum" asp-action="BlockPost" asp-route-id="@post.Id">Block Replies of this Post</a>
                    </div>
                    <div>
                        <a asp-controller="Forum" asp-action="DeletePost" asp-route-id="@post.Id">Delete The Whole Post</a>
                    </div>
                }
            </div>
            <div>
                @*<text >Post UserId: </text>
                    <text>@post.UserId</text>*@
                <h4>Post UserId: @post.UserId</h4>

            </div>
            <div>
                @*<text >This is Post Content: </text>
                    <text> @post.Content</text>*@
                <p>This is Post Content:  @post.Content</p>
            </div>

            @foreach (var reply in Model.Replies)
            {
                @if (reply.ParentId == post.Id)
                {
                    if (!reply.IsDeleted)
                    {
                        <div class="col-md-offset-1">
                            @*<text>This is Reply Content: </text>
                                <text>@reply.Content</text>*@
                            <text>This is Reply Content: @reply.Content </text>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Forum" asp-action="DeleteReply" asp-route-id="@reply.Id"> Delete</a>
                            }
                        </div>
                    }
                }
            }
            @if (!post.IsBlocked)
            {
                <div class="col-md-offset-5 col-md-5">
                    <a asp-controller="Forum" asp-action="NewReply" asp-route-id="@post.Id"><input type="button" class="btn btn-primary" value="Reply"></a>
                </div>
            }
            @if (post.IsBlocked)
            {
                <div>
                    <a asp-controller="Forum" asp-action="UnBlockPost" asp-route-id="@post.Id">Unblock Replies of this Post</a>
                </div>
            }

        </div>

    }
}
