@model IEnumerable<WebUser>
<h2>
    Hello, Admin @User.Identity.Name !
</h2>

<div style="height:500px;overflow-y:scroll">
    @foreach (var webUser in Model)
    {
        <div class="row">
            <div class="col-md-6">@webUser.UserName</div>
            <div class="col-md-6">
                @if (webUser.Muted)
                {
                    <a asp-controller="Admin" asp-action="Mute" asp-route-id="@webUser.Id" style="background-color:lightgray" class="btn btn-sm">Muted</a>
                }
                else
                {
                    <a asp-controller="Admin" asp-action="Mute" asp-route-id="@webUser.Id" style="background-color:lightblue" class="btn btn-sm">Mute&nbsp;&nbsp;</a>
                }
            </div>
        </div>


    }


</div>

@*@foreach (var webUser in @Model.GetAllWebUsers())
    {
        if (!news.IsDeleted)
        {
            <tr>
                <td><a asp-controller="News" asp-action="Details" asp-route-id="@news.Id"> @news.NewsTitle </a> </td>
                <td> @news.Content</td>
                <td> @news.Date</td>
            </tr>

        }
        @if (User.IsInRole("Admin"))
        {
            <td>
                <a asp-controller="News" asp-action="DeleteNews" asp-route-id="@news.Id">Delete</a>
            </td>
        }
    }*@